@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("ttf"),
    url(../fonts/Roboto-Regular.woff) format("woff"),
    url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("ttf"),
    url(../fonts/Roboto-Bold.woff) format("woff"),
    url(../fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
}
