body {
  font-family: "Roboto", "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header"
    "side-menu main"
    "footer footer";
  grid-template-columns: 398px 1fr;
  grid-template-rows: auto 1fr auto;
}
.site-header {
  grid-area: header;
  margin-top: 63px;
}
.logo {
  font-size: 80px;
  line-height: 0.8;
}
.logo-blue-letters {
  color: #4bcaff;
}
.header-nav {
  margin-top: 56px;
}

.header-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  justify-items: start;
  background-color: #35444f;
}
.header-nav-link {
  display: block;
  padding: 20px 33px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: background-color 0.5s;
  line-height: 1.13;
}
.header-nav-item {
  border: 1px solid transparent;
  border-left: 1px solid #fff;
}
.header-nav-item:last-of-type {
  border-right: 1px solid #fff;
}

.header-nav-link:hover {
  background-color: #222f3a;
}
.header-nav-link:active {
  background-color: #dbdbdb;
  color: #222f3a;
}

.side-menu {
  margin-right: 50px;
  grid-area: side-menu;
  margin-top: 48px;
}
.side-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.side-menu-link {
  display: block;
  color: #485863;
  line-height: 1.85;
  text-decoration: none;
  padding: 15px 43px;
  font-size: 27px;
  transition: padding-left 0.5s, background-color 0.5s;
}

.side-menu-link:hover {
  padding-left: 75px;
  background-color: #dbdbdb;
  color: #000;
}
.side-menu-link:active {
  background-color: #222f3a;
  color: #fff;
}
.main-content {
  grid-area: main;
  margin-top: 48px;
  margin-bottom: 19px;
  max-width: 880px;
}
.main-content p {
  margin-bottom: 32px;
  line-height: 1.3em;
  color: #2c2c2c;
}
.article-header-img-wrapper {
  border: 1px solid #000;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.article-header-img {
  display: block;
  margin: 74px auto;
  max-height: 80%;
  max-width: 80%;
}
.footer {
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  gap: 20px;
  background-color: #dbdbdb;
  min-height: 70px;
  padding: 0 41px;
}

.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  gap: 26px;
  font-size: 28px;
  line-height: 28px;
}
.footer-nav-link {
  text-decoration: none;
  color: #0c1927;
  padding-bottom: 10px;
}
.footer-nav-link:hover {
  border-bottom: 1px solid #3181a6;
  color: #3181a6;
}
.copyright {
  font-size: 24px;
  text-align: center;
}

@media (max-width: 1150px) {
  .header-nav-link {
    font-size: 20px;
  }
  .footer {
    justify-content: center;
    padding: 20px;
  }

  .footer-nav-item {
    width: 30%;
    text-align: center;
  }
  .copyright {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .logo {
    max-width: fit-content;
    margin: 0 auto;
  }
  .header-nav-list {
    flex-wrap: wrap;
  }
  .header-nav-item {
    width: 50%;
    border: 1px solid #fff;
  }
  .header-nav-link {
    font-size: 20px;
  }
  .wrapper {
    grid-template-areas:
      "header"
      "side-menu"
      "main"
      "footer";
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .side-menu {
    margin: 50px 0 50px 0;
  }
  .side-menu-link {
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
  }

  .main-content {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  .header-nav-item {
    width: 100%;
  }
  .footer-nav-list {
    justify-content: center;
    justify-items: center;
  }
  .footer-nav-item {
    width: 100%;
    text-align: center;
  }
}
